@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    margin: 2em 7%;
    background: linear-gradient(180deg, #000 0%, #10162E 17.52%);

}
